tr:nth-child(even) {
    background: #dbe2e6;
}

tr:nth-child(odd) {
    background: #e6e6e6
}
.full-lengt{
    width: 100% !important;
}
.dataTables_scrollHeadInner{
    width: 100% !important;
}

.dataTable{
    width: 100% !important;
}
